# requirements.txt
fastapi>=0.68.0
uvicorn>=0.18.3
requests>=2.31.0
numpy>=1.24.3
PyPDF2>=3.0.1
python-docx>=0.8.11
markdown>=3.4.1
langchain-text-splitters>=0.0.1
annoy>=1.17.0  # 可选gpu版本或cpu版本，pip安装无效就用conda